.contact-title {
    text-align: center;
    font-size: 2.5em;
    color: white;
    margin-bottom: 20px;
    background-color: rgb(39 21 7);
    }

    .contact-info {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    }
    
    
    .contact-details h2{
    font-size: 1.8em;
    color: #2c3e50;
    margin-bottom: 10px;
    }
    
    .contact-details p {
    font-size: 1.1em;
    line-height: 1.6;
    }
    
    /* Localisation et carte */
    .contact-map {
    text-align: center;
    margin-top: 30px;
    }
    
    .contact-map h2 {
    font-size: 1.8em;
    color: #2c3e50;
    margin-bottom: 20px;
    }
    
    .map-placeholder {
    width: 100%;
    height: 300px;
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #7f8c8d;
    border-radius: 8px;
    border: 2px dashed #bdc3c7;
    }
    
    /* Responsivité */
    @media (max-width: 768px) {
    .contact-info {
        flex-direction: column;
    }
    
    .contact-details {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    }
.contact-details strong {
    color: #2c3e50;
}